
body {
    font-family: Arial, sans-serif;
    margin: 0;
    
padding: 0;
    
background-color: #f4f4f4;
}
body {
    

    font-family: Arial, sans-serif;
        

    margin: 0;
        padding: 0;
        background: linear-gradient(45deg, rgb(216, 166, 101), #cea372);
    }
    


header {

    
        

background-color: #644916;
    color: white;
    padding: 10px 0;
    
text-align: center;


text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

#productos {
    padding: 20px;
}

.productos-grid {
    

display: grid;
    
    

grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    
gap: 20px; /* Espacio entre productos */
    justify-items: center; 
    justify-items: center;

    justify-items: center

    justify
}

.producto {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    
text-align: center;
    
width: 80%; 
}

.producto img {
    width: 100%; 
    height: auto;
    
object-fit: cover;
}

button {
    
background-color: #5cb85c;
    
color: white;
    

padding: 10px;
    border: none;
    

cursor: pointer;
    
margin-top: 10px;
}

button:hover {
    
background-color: #4cae4c;
}

footer {
    

text-align: center;
    padding: 10px;
    
background-color: #333;
    
color: white;
}




